<?xml version="1.0"?>

<launch>
    <arg name="simulation" default="true"/>
    
    <node if="$(arg simulation)" pkg="tf" type="static_transform_publisher" name="magnetic_guide_routes_static_tf_publisher" args="0 0 0 0 0 0 1 fcu odom 100" />
    <node if="$(arg simulation)" pkg="tf" type="static_transform_publisher" name="fcu_static_tf_publisher" args="0 0 0 0 0 0 1 local_origin_ned fcu 100" />
    <rosparam command="load" file="$(find imus_test)/config/imus_test.yaml" />

    <node pkg = "imus_test" type="imus_test.py" name="imus_test" output="screen">
    </node>

</launch>
