[submodule "myahrs_driver"]
	path = myahrs_driver
	url = https://github.com/robotpilot/myahrs_driver.git
[submodule "widowx_arm"]
	path = widowx_arm
	url = https://github.com/robotnikautomation/widowx_arm
[submodule "phidgets_drivers"]
	path = phidgets_drivers
	url = https://github.com/ros-drivers/phidgets_drivers.git
