<?xml version="1.0"?>
<launch>
    
	<include file="$(find imus_test)/launch/dynamixel.launch"/>
    <!-- Start IMUs -->

    <include file="$(find imus_test)/launch/IMUs/imu_all.launch">
        <arg name="init_px_248" value="true"/>
        <arg name="init_px_cube" value="true"/>
        <arg name="init_myahrs" value="true"/>
        <arg name="init_phidgets" value="true"/>
        <arg name="init_vectornav" value="true"/>
    </include>


    <!-- Start TFs -->

    <include file="$(find imus_test)/launch/test/test_imu.launch">
    </include>


    <!-- Start quaternion to euler -->

    <include file="$(find imus_test)/launch/test/quaternion_to_euler.launch">
    </include>


</launch>

